:root {
    --cor-fundo: #f8f8f8;
    --cor-principal: #007bff;
    --cor-secundaria: #343a40;
    --cor-texto: #333;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: rgb(41, 55, 121);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  
}
  
.container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  align-items: center;
}

.card {
  width: 500px;
  height: 500px;
  margin-top: 65px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 1px solid whitesmoke;
  border-radius: 6%; 
  background-color: #ffffff80;
  

}

h1{
  text-align: center;
  margin-bottom: 20px;
  color: #000000
}

.label-float input{
  width: 100%;
  padding: 5px 5px;
  display: inline-block;
  border: 0;
  border-bottom: 2px solid #000000;
  background-color: transparent;
  outline: none;
  min-width: 180px;
  font-size: 16px;
  transition: all .3s ease-out;
  border-radius: 0;
  
}

.label-float{
  position: relative;
  padding-top: 13px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.label-float input:focus{
  border-bottom: 2px solid #000000;
}

.label-float label{
  color: #000000;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  transition: all .3s ease-out;
}

.label-float input:focus + label,
.label-float input:valid + label{
  font-size: 13px;
  margin-top: 0;
  color: #4038a0
}

button{
  background-color: transparent;
  border-color: #000000;
  color: #000000;
  padding: 7px;
  font-weight: bold;
  font-size: 12pt;
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: all .4s ease-out;
}

button:hover{
  background-color: #000000;
  color: #fff;
}

.justify-center{
  display: flex;
  justify-content: center;
}

.fa-eye{
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
  color: #000000;
}

#msgError{
  text-align: center;
  color: #ff0000;
  background-color: #ffbbbb;
  padding: 10px;
  border-radius: 4px;
  display: none;
}

#msgSuccess{
  text-align: center;
  color: #00bb00;
  background-color: #bbffbe;
  padding: 10px;
  border-radius: 4px;
  display: none;
}