/*Resets e variaveis*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-bg-headr: #2c3e50; 
    --cor-padrao: #3498db; /* Azul claro */
    --cor-padrao-2: #57a4d8;
    --cor-padrao-hover: #2980b9; /* Azul escuro */
    --cor-fonte: #2c3e50; /* Cinza escuro */
    --cor-fonte-paragrafo: #7f8c8d; /* Cinza médio */
    --cor-botao: #e74c3c; /* Vermelho */
    --cor-botao-hover: #c0392b; /* Vermelho escuro */
    --cor-botao-fonte: #ffffff; /* Branco */
  }

li {
    list-style: none;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

a {
    color: var(--cor-padrao);
    text-decoration: none;
  }
  
  a:hover {
    color: var(--cor-padrao-hover);
  }
  
  p {
    color: var(--cor-fonte-paragrafo);
  }

  body {
    font-family: sans-serif;
  }
/*Resets e variaveis*/
/*Inicio Header*/

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #2c3e50; /* Azul marinho escuro */
    color: var(--cor-botao-fonte); /* Branco */
    padding: 30px;
    font-size: 1.2rem;
}

.title-search {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    font-size: 1.5rem;
}

.nav-bar_logo {
    display: flex;
    justify-content: space-around;
}

.search_nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#searchInput {
    padding: 15px;
    border: none;
    width: auto;
    outline: none;
}

.header_nav-bar {
    display: flex;
    justify-content: space-between;
}

.header-bnt {
    cursor: pointer;
    border: none;
    padding: 10px;
    width: 100px;
    font-size: 1.2rem;
    border-radius: 10px;
    color: var(--cor-botao-fonte);
    background-color: var(--cor-padrao-2);
}

.header-bnt:hover {
    color: var(--cor-padrao-2);
    background-color: var(--cor-botao-fonte);
    transition: 0.2s;
}

.carrinho {
    cursor: pointer;
}
#nav-bar_items {
    display: flex;
    gap: 20px;
}

.header-hamb {
    display: none;
}

.header-ul_mobile {
    display: none;
}
/*Fim Header*/
/*Inicio Barra de categorias*/
.cat-bar {
    display: flex;
    padding: 30px;
    background-color: var(--cor-padrao-2);
}

.hamburguer {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
}

.hamburguer:hover {
    position: relative;
    color: var(--cor-padrao);
    padding: 10px;
    background: var(--cor-botao-fonte);
    border-radius: 10px;
    transition: 0.2s;
}

.hamburguer p {
    color: var(--cor-botao-fonte);
    cursor: pointer;
}

.hamburguer p:hover {
    color: var(--cor-padraoe);
}

.cat_list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.cat_list li {
    color: var(--cor-botao-fonte);
    border-radius: 10px;
    padding: 10px;
}

.cat_list li:hover {
    color: var(--cor-padrao);
    padding: 10px;
    background: var(--cor-botao-fonte);
    border-radius: 10px;
    transition: 0.2s;
}

.cat_list_hamb {
    display: flex;
    flex-direction: column;
    max-height: 200px;
    gap:10px;
    flex-wrap: wrap;
    position: absolute;
    right: 500%;
    background: var(--cor-botao-fonte);
}

/*Fim Barra de categorias*/

/*Resposividade*/

@media screen and (max-width: 844px) {
    /*Header*/

    .header {
        width: 100%;
        padding: 8px;
        position: relative;
    }
    
    .title-search  {
        width: auto;
    }
    .search_nav-bar span {
        display: none;
    }

    .header_nav-bar {
        display: none;
    } 

    #searchInput {
        width: auto;
    }

    .header-bnt {
        width: auto;
    }
    .carrinho {
        display: none;
    }

    .header-hamb {
        display: block;
        cursor: pointer;
    }

    .header-hamb button {
        background-color: transparent;
        border: none;
        color: var(--cor-botao-fonte);
        
    }

    .header-ul_mobile {
        position: absolute;
        top: 100%;
        right: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
        background: var(--cor-botao-fonte);
        padding: 10px;
        gap: 10px;
        width: auto;
        transition: 0.5s;
        border-radius: 0 0 20px 20px;
        background-color: #2c3e50;
    }
    .open {
        display: none;
    }


    /*Header*/
}

/*Resposividade*/